/* Set background */
html {
  background-color: #40E0D0;
}

body {
  width: 75%;
  background-color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

