/* Set background */
html {
  background-color: white;
  width: 100%;
  font-family: Georgia, sans-serif;
}

/*set body of the site */
body {
  width: 100%;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height:auto;
}


/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  position: relative;
  width: auto;
  z-index: 100;
  top: 50px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding: 12px;
  margin-top: -45px;
}

.topnav a:hover {
  border-bottom: 3px solid gray;
}

.topnav a.active {
  border-bottom: 3px solid gray;
}

.topnavother a {
  float: left;
  color: #8797FF;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  position: relative;
  width: auto;
  z-index: 100;
  top: 37px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding: 12px;
  margin-top: -45px;
  clear: none;
}

.topnavother a:hover {
  border-bottom: 3px solid gray;
}

.topnavother a.active {
  border-bottom: 3px solid gray;
}

.iconDetails {
  float: left; 
  height:180px;
  width:180px;
  margin-left: -230px;
  padding: 1%;
  margin-top: -10px;
} 
